<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% if (products.length > 0) { %>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
                <li class="cart__item">
                    <h1><%= p.title %></h1>
                    <h2>Quantity: <%= p.cartItem.quantity %></h2>
                    <h2>Price: <%= p.price %>$</h2>
                    <form action="/cart-delete-item" method="POST">

                        <input type="hidden" value="<%= p.id %>" name="productId">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            <% }) %>
            <h2 class="cart__total">
                <span>Total Price: <%= products.reduce((x, y) => x + y.dataValues.total, 0).toFixed(2) %>$</span>
            </h2>
        </ul>
        <hr>
        <div class="centered">
            <form action="/create-order" method="POST">

                <button type="submit" class="btn">Order Now!</button>
            </form>
            <!-- // adding strife to this link
            <a href="/checkout" class="btn">Order Now!</a> -->
        </div>

    <% } else { %>
        <h1>No Products in Cart!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>